body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(#FFE6FD, #B3F5FF);

}

.main {
    position: relative;
    top: 150px;
}

.edt_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    width: 20%;
    margin-left: 20px;
    background-color: #8ACDD7;
    border-radius: 15px;


}

.edt_container h1 {
    text-align: center;
    font-family: neue_machina_bold;

}

.edt h2 {
    text-align: center;
    font-family: neue_machina_bold;
}

.edt {
    height: 80%;
    width: 90%;
}

.edt .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e0f9f8;
    width: 100%;
    height: 20%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.edt .container p {
    font-size: 0.9rem;
    margin: 0;
    font-family: neue_machina;
}

.edt .container h3 {
    text-align: center;
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 5px;
    font-family: Inter;
}
